.content{

    display: flex;
    flex-direction: row;

    padding: 20px;


}

.card{

    margin-left: 80px;

  
}

.card-body{


}

footer{
    height: px;
    width: 100%;
    background-color: rgb(26, 37, 37);
    justify-content: center;


  
}

footer h3{

    margin-left:500px;

    color: azure;
}

footer p{

    margin-left:500px;

    color: azure;
}
.navbar{


}

