.main{
    background-color: aqua;
    margin-left: 200px;
    scroll-margin-top: 100px;
    height: 400px;
    width: 300px;
}

body{


    display: grid;
    grid-template-columns: 15% auto;
    grid-template-areas: " header header"
                         " aside main"
                        " footer footer";
}

header{
    display: grid;
    grid-area: header;

    /* background-color: beige;
    height: 100px; */

}

aside{

    display: grid;
    grid-area: aside;
    background-color: rgb(247, 247, 247);

    width: 100%


}

main{
    display: grid;
    grid-area: main;
    background-color: rgb(240, 241, 241);

    width: 100%;
    padding: 30px;
    border: 2px solid gray;
}

footer{
    display: grid;
    grid-area: footer;
    /* background-color: rgb(16, 16, 17);
    height: 70px;
    width: 100%
    z-index: -2; */
}
.contant{


    margin-top: -200px;
}

input{

    height: 40px;
    width: 100px;
}

label{


    color: rgb(3, 3, 3);
}