.container{
    background-color: bisque;
    height: 700px;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: " left right";
}


.left{

    display: grid;
    grid-area: left;
    background-color: aqua;
    /* height: 400px;
    width: 400px; */
}

.right{
    display: grid;
    grid-area: right;
    background-color: aliceblue;
    /* height: 400px;
    width: 500px; */
}
.imgproduct{
 
    margin-left: 60px;
    margin-top: 80px;

}
