.total{



    position: absolute;
    height: 500px;
    width: 500px;
}



.left{

    position: absolute;
    height: 700px;
    width: 250px;
    background-color: rgb(0, 255, 0);
    border: 2px solid;
}

.right{

    position: absolute;
    height: 700px;
    width: 1000px;
    background-color: rgb(47, 0, 255);

    margin-left: 252px;
    border: 2px solid;
    
}

