.div1 {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }


  .div2 {
    width: 150px;
    border: 15px solid green;
    padding: 50px red;
    margin: 20px;
  }


  .fix{
     position: fixed;
     height: 100px;
     width: 500px;
     border: 10px solid;
     background-color: blue;
     


      
  }

  .fix2{

    margin-top: 300px;
    border: 2px solid;
    position: relative;
    width: 100px;
    height: 500px;

    margin-left: 200px;
    border: 10px solid;
    background-color: aqua;
  }