
body{

    display: grid;
    grid-template-columns: 15% auto;
    grid-template-areas: "head head"
                         "slidebar main"
                         "footer footer"
}


ul{
    display: flex;
}
li{
    margin: 30px;
}

header{
    background-color: rgb(120, 139, 139);
    color: azure;
    display:flex;          /*grid gide*/
    flex-direction:row ;
    justify-content: center;
    grid-area: head;
    position: sticky;
     top: 0px;


}

aside{
    background-color: blue;
    grid-area: slidebar;
    left: 0px;
    padding: 10px;
    position: sticky;
    z-index: -1;

}
main{
    background-color: rgb(87, 75, 82);
    grid-area: main;
}

footer{


    background-color: chartreuse;
    padding: 5px;
    grid-area: footer;
    position: sticky;
    bottom: 0px;
}

.navigation{

    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
}



