body{
    display: grid;
   grid-template-columns: 15% auto;
   grid-template-areas: "head head"
                       "slidebar main"
                      " footer footer";
}

header{
     display: grid;
    top: 0px;
    background-color: rgba(20, 22, 22, 0.459);
    display: flex;
    flex-direction: row;
    grid-area: head;
    justify-content: center;
    position: sticky;
    width: 100%;
    grid-column: 1 / -1;

    
}
aside{
    background-color: blueviolet;
    display: grid;
    grid-area: slidebar;
    display: flex;
    flex-direction: column;
    

}

main{
    display: grid;
    background-color: aquamarine;
    grid-area: main;
    /* height: 600px; */
    padding-left: 20px; 
  

}
footer{
    background-color:  rgba(20, 22, 22, 0.459);
    display: grid;
    bottom: 0px;
    grid-area: footer;
    height: 40px;
    position: sticky;
    justify-content: center;
}
.navigation{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-content: center;
    font-size: 30px;
    align-items: center;
    
}
header a{
    margin: 20px;
    margin-left: 100px;
    margin-right: 100px;
    color: aliceblue;

}

aside a{

    margin-left: 40px;
    padding: 30px;
    color: aliceblue;
}
