
input{
    padding: 10px;
    margin: 20px;
}

.contact{
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 400px;
    width: 400px;
    background-color: rgb(113, 158, 111);
    margin-left: 350px;
}

main{
    background-color: aquamarine;
}