body{
    display: grid;
   grid-template-columns: 15% auto;
   grid-template-areas: "head head"
                       "main main"
                      " footer footer";
}

header{
     display: grid;
    top: 0px;
    background-color: rgba(20, 22, 22, 0.459);
    display: flex;
    flex-direction: row;
    grid-area: head;
    justify-content: center;
    position: sticky;
    width: 100%;


    
}
aside{
    background-color: blueviolet;
    grid-area: slidebar;
}

main{
    display: grid;
    /* background-color: aquamarine; */
    background-color: rgb(240, 248, 255);
    grid-area: main;
    height: 600px;
 
  

}
footer{
    background-color:  rgba(20, 22, 22, 0.459);
    display: grid;
    bottom: 0px;
    grid-area: footer;
    height: 60px;
    position: sticky;
    justify-content: center;
}
.navigation{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-content: center;
    font-size: 30px;
    align-items: center;
    
}
a{
    margin: 20px;
    justify-content: center ;
    margin-left: 100px;
    margin-right: 100px;
    color: aliceblue;

}
.tamim{

    float: right;
    background-color: brown;
    height: 200px;
    width: 200px;
}
.name{
    margin-left: 400px;
    float: left;
  
}

.about{

    height: 300px;
    width: 300px;

    margin-top: 150px;
    margin-left: 200px;
}
