input{
    padding: 10px;
    margin: 20px;
}

.contact{
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 700px;
    width: 400px;
    background-color: aquamarine;
    margin-left: 350px;
}